.DS_Store
*.swp
*.o
*.lo
*.la
*.exe

*.dsw
*.ncb
*.opt
*.plg

Debug/
Release/

examples/rs_demo
examples/auth_passwd/rs_demo
examples/resumable_put/rs_demo
examples/unit_test/run_test

examples/resumable_put/up_demo
examples/resumable_put/huge_file.txt

tests/qiniutest

.deps/
.libs/
autom4te.cache/
libcunit.so.1

CUnit/CUnit.spec
CUnit/CUnit/Headers/Makefile
CUnit/CUnit/Makefile
CUnit/CUnit/Sources/Automated/Makefile
CUnit/CUnit/Sources/Basic/Makefile
CUnit/CUnit/Sources/Console/Makefile
CUnit/CUnit/Sources/Curses/Makefile
CUnit/CUnit/Sources/Framework/Makefile
CUnit/CUnit/Sources/Makefile
CUnit/CUnit/Sources/Test/Makefile
CUnit/Examples/AutomatedTest/Makefile
CUnit/Examples/BasicTest/Makefile
CUnit/Examples/ConsoleTest/Makefile
CUnit/Examples/CursesTest/Makefile
CUnit/Examples/Makefile
CUnit/Jamrules
CUnit/Makefile
CUnit/Man/Makefile
CUnit/Man/man3/Makefile
CUnit/Share/Makefile
CUnit/config.h
CUnit/config.log
CUnit/config.status
CUnit/cunit.pc
CUnit/doc/Makefile
CUnit/doc/headers/Makefile
CUnit/libtool
CUnit/stamp-h1

