name: C SDK CI
on:
  push:
  pull_request:
jobs:
  linux:
    name: CI Test On Linux
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          sudo apt install -yqq libcurl4 libcurl4-openssl-dev build-essential cmake
      - name: Build
        run: |
          set -e
          cmake -S . -B build
          cmake --build build
      - name: Unit test
        working-directory: '${{ github.workspace }}/build/gtests'
        run: |
          ./qiniu_test --gtest_filter="UnitTest.*"
  macos:
    name: CI Test On macOS
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          brew install curl cmake make
      - name: Build
        run: |
          set -e
          cmake -DOPENSSL_ROOT_DIR="$(brew --prefix)/opt/openssl/" -S . -B build
          cmake --build build
      - name: Unit test
        working-directory: '${{ github.workspace }}/build/gtests'
        run: |
          ./qiniu_test --gtest_filter="UnitTest.*"
  windows:
    name: CI Test On Windows
    runs-on: windows-latest
    env:
      buildDir: '${{ github.workspace }}/build/'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install Visual Studio Dev cmds
        uses: ilammy/msvc-dev-cmd@v1
      - name: Install CMake
        uses: lukka/get-cmake@latest
      - name: Install vcpkg
        uses: lukka/run-vcpkg@main
        with:
          setupOnly: true
          vcpkgDirectory: '${{ github.workspace }}/vcpkg'
          vcpkgArguments: 'sqlite3'
          vcpkgTriplet: 'x64-windows'
          vcpkgGitCommitId: '30124253eecff36bc90f73341edbfb4f845e2a1e'
      - name: Install curl
        run: |
          $VCPKG_ROOT/vcpkg install curl --triplet x64-windows
        shell: bash
      - name: Install openssl
        run: |
          $VCPKG_ROOT/vcpkg install openssl --triplet x64-windows
        shell: bash
      - name: Cmake
        uses: lukka/run-cmake@v3
        with:
          cmakeListsOrSettingsJson: CMakeListsTxtBasic
          cmakeListsTxtPath: '${{ github.workspace }}\CMakeLists.txt'
          useVcpkgToolchainFile: true
          buildDirectory: ${{ env.buildDir }}
      - name: Unit Test
        run: |
          ./gtests/qiniu_test.exe --gtest_filter="UnitTest.*"
        shell: bash
        working-directory: ${{ env.buildDir }}
